# Server Port (Render sets this automatically)
PORT=5000

# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/expense_tracker?retryWrites=true&w=majority

# JWT Secret Key for Authentication
JWT_SECRET=your_super_secret_jwt_key_here

# Frontend Client URL (optional, for CORS if not using standard vercel.app or localhost)
CLIENT_URL=https://expense-tracker-ten-silk-25.vercel.app
